.productSection{
    display:flex;
    flex-direction: column;
    background-color: grey;
    min-height: 100vh;
    
}
.product-grid{
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px
    
    
}
.productSectionHead{
    font-size:25px
}
.selectSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}
select{
    width:70vw;
    max-width: 200px;
    height:25px;
    border-radius: 10px;
    align-self: flex-end;
    margin: 5px;
    

}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width:70vw;
    margin:10px;
    height:250px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 15px ;
    
}
img{
    height:25vh;
    width:70vw;
    max-width: 150px;
    border-radius: 10px;
    
    
}
.productTitle{
   
    text-decoration:none;
    font-family: "Roboto";
    font-size:12px;
    color: black;
    text-align: center;
    font-weight: 500;
}

@media screen and (min-width:400px){
    
    .product-grid{
       
        flex-direction: row;
        
        width:95vw;
       
        
        
    }
   
    .productSectionHead{
        font-size:30px
    }
   
   
    
    .product-card{
       
        
        width:40vw;
        max-width: 230px;
        
        
    }
    img{
       width:30vw;
       max-width: 150px;
        
        
    }
    .productTitle{
   
        
        font-size:14px;
    }
   
    }

@media screen and (min-width:768px){


.productSectionHead{
    font-size:40px
}
.selectSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.product-card{
   
    
    width: 25vw;
   
    
    
    
}
img{
    height:150px;
    width:150px;
    
    
}

}
@media screen and (min-width:912px){

    
   
    
    .product-card{
       
        width: 20vw;
          
    }
   
    
    }