.productSection{
    display:flex;
    flex-direction: column;
    background-color: grey;
    min-height: 100vh;
    
}
.product-grid{
    display:flex;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px
    
    
}
.selectSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
select{
    width:200px;
    height:30px;
    border-radius: 10px;

}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width:20vw;
    margin:10px;
    height:300px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    box-shadow: 5px 5px 15px ;
    
}
img{
    height:200px;
    width:200px;
    border-radius: 10px;
    
}
.productTitle{
   
    text-decoration:none;
    font-family: "Roboto";
    font-size:15px;
    color: black;
    text-align: center;
    font-weight: 500;
}