.homeSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height:100vh;
    justify-content:flex-start;
    
    
}


h1{
    color:white;
    font-family: 'cursive';
    text-align: center;
    font-size:8vw;
}


.secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;
    height:70vh;
    width:100vw;
    background-color: blueviolet;
    border-radius: 10px;
    margin:10px
  
}

.paraSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;  
    height:30vh;
    max-height:500px;
    width:100vw;
    max-width:300px
    
    
    
}
.para{
    color:white;
    font-family: "roboto";
   
    font-size: 18px;
    text-align: center;
}
.homeImage{
  
    height:auto;
    width:30vw;
    
    margin:10px
}
    


.mensClothingSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    height:auto;
    
    width:100vw;
    background-color: blueviolet;
    border-radius: 10px;
    margin:10px
}
.mensClothingSection img{
    height:auto;
    width:25vw;
    border-radius: 10%;
    margin:10px
}



@media screen and (min-width:700px){
    
    .secondSection{
        
        flex-direction: row;
        
        justify-content: space-around;
        
    }
    h1{
        color:white;
        font-family: 'cursive';
        text-align: center;
        font-size:5vw;
    }
    .para{
       
       
        font-size: 2vw;
        
    }
    
    .mensClothingSection{
       
        flex-direction: row;
        
    }
    
    
    

}