.productDetailsSection{
    display: flex;
    flex-direction: column;
   align-items: center;
   background-color: blueviolet;
   min-height:100vh;
   color:black;
   font-family: "Roboto";

}
.productdetails{
   display: flex;
   margin-top:50px;
   flex-direction: column;
   width:90vw;
   max-width: 600px;
   justify-content: space-between;
   align-items: center;
   background-color:white;
   border-radius: 20px;
   height: auto;
}
.eachCard{
    display: flex;
    flex-direction: column;
    width:85vw;
    max-width: 400px;
    height: auto;
    padding: 10px;
    
}

.desc{
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;

}
.price{
    font-size: 10px;
    color: white;
    font-weight: bold;
    background-color: orangered;
    width:50vw;
    max-width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

h2{
    font-size: 10px;
    text-decoration: solid;
    font-stretch: expanded;
    font-weight: 700;
}
.eachImage{
 width: 20vw;
 max-width: 100px;
 height: auto;
 border-radius: 20px;
}



@media screen and (min-width:500px){
   
   
    
    
    .desc{
        font-size: 11px;
       
    
    }
    .productdetails{
       
        flex-direction: row;
    
     }
   
    
    h2{
        font-size: 12px;
        
    }
    
    
    
}


@media screen and (min-width:912px){
   
   
    
    
    
    
       .desc{
        font-size: 12px;
       
    
    }
    
    
    h2{
        font-size: 13px;
        
    }
}
